/* Common */
body {
	margin: 0;
	min-height: 100vh;
	font-family: Montserrat,Helvetica,Sans-serif;
	background: linear-gradient(#FFF, #EEF);
	font-size: calc(.6vw + 12px);
}

.center-text {
	text-align: center;
}

a {
	color: #1B95CA;
	text-decoration: none;
}

a:hover {
	color: #FDCD3B;
}

h1 {
	font-size: calc(3vw + 20px);
	margin: 20px 0;
}

h3 {
	font-size: calc(.5vw + 10px);
	margin: 8px 0;
}


/* Layout. */
.wrapper {
	padding: 3vw 5vw;
	max-width: 1200px;
	margin: 0 auto;
}

.header {
	margin-top: calc(1vw + 5px);
	margin-bottom: calc(4vw + 20px);
}

.intro {
	max-width: 740px;
	line-height: 1.5;
	letter-spacing: 1px;
	margin: 0 auto 5vw;
}

/* Social Menu, */
.social-menu {
	display: flex;
	justify-content: flex-end;
}

.social-menu img {
	width: 6vw;
	max-width: 40px;
	height: auto;
	margin: 0 .75vw;
}

/* Pens. */
.pens {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 0 -15px;
}
.pen-wrapper {
	padding: 0 15px;
	margin-bottom: 30px;
	flex: 1 1 30%;
	min-width: 260px;
}
.pen {
	box-shadow: 0 0 50px -25px #000;
	height: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
}

.pen .description {
	background-color: #FFF;
	padding: 16px;
	flex: 1;
}

.pen h3 {
	margin-top: 0;
}

.pen p {
	font-size: 85%;
}

.pen .expand {
	position: absolute;
	right: 12px;
	bottom: 6px;
	cursor: pointer;
	color: #888;
	font-size: 80%;
}
.pen .expand:before {
	content: "\2921";
}
/* Open Pen. */
.pen-wrapper.open {
	position: fixed;
	padding: 1vw 3vw;
	margin: 0;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(100, 100, 100, .7);
	z-index: 1;
}
.pen-wrapper.open .cp_embed_wrapper {
	height: 75%;
}
.pen-wrapper.open .cp_embed_wrapper iframe {
	height: 100%;
}
.pen-wrapper.open .description {
	overflow-y: auto;
}
.pen-wrapper.open .expand:before {
	content: "\292B";
}

/* Aglet. */
.ag-components {
	display: none;
}
